<form [formGroup]="form">
  <div class="our-field">
    <label for="stageTitle">Title
      <span class="required">*</span>
    </label>
    <input id="stageTitle" pInputText formControlName="title" placeholder="Enter stage title.." />
  </div>

  <div class="our-field">
    <label for="stageDescription">Description
      <span class="required">*</span>
    </label>
    <input id="stageDescription" pInputText formControlName="description" placeholder="Enter stage description" />
  </div>

  <app-gallery-upload [multiple]="false" (removed)="onImageRemoved()" formControlName="image"
    style="width: 100%"></app-gallery-upload>


  <div class="custom-btns-container">
    <button type="button" (click)="cancel()" class="custom-btn btn-white">
      <span>Cancel</span>
    </button>
    <button pButton class="action-btn" [disabled]="form.invalid" (click)="submit()">
      <span>{{ isEditMode ? 'Update' : 'Save' }}</span>
    </button>
  </div>
</form>