::ng-deep .p-dialog-content {
  padding: 32px !important;
}
:host ::ng-deep .confirmation-dialog {
  border-radius: 16px;
}
::ng-deep .p-dialog-header {
display: none !important;
}

.popup-wrraper {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  gap: 8px;
}

.icon-wrapper {
  display: flex;
  justify-content: center;
  border-radius: 50%;
  width: fit-content;

}
.actions {
  margin-top: 24px;
  display: flex;
  justify-content: center;
  gap: 16px;
  width: 100%;
}
h2 {
  font-size: 24px;
  font-weight: 700;
  color: #333435;
  margin: 8px 0;
}

p {
  font-size: 14px;
  color: #6e7072;
  max-width: 320px;
}

.actions {
  display: flex;
  gap: 12px;

  button.popup-button {
font-family: "system-ui", sans-serif;
    flex: 1;
    border-radius: 12px;
    font-size: 14px;
    font-weight: 600;
    padding: 12px 12px;
      
  }
}

/* Button Variants */
button.confirm-delete {
  background: #b3261e;
  color: var(--Color-Neutral-100, #FEFEFE);
  border: none;
  &:hover {
    background: #9e1f19;
  }
}
button.confirm-cancel {
  background: #fff;
  color: #333435;
  border: solid 1px #DEDEDF;
  &:hover {
    background: #c6c6c6;
  }
} 

.confirm-primary {
  background: #2563eb;
  border: none;
}

.confirm-success {
  background: #16a34a;
  border: none;
}

.confirm-warning {
  background: #f59e0b;
  border: none;
}
