::ng-deep .p-dialog-content {
  padding: 32px !important;
}
:host ::ng-deep .confirmation-dialog {
  border-radius: 16px;
}
::ng-deep .p-dialog-header {
  display: none !important;
}

.popup-wrraper {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  gap: 8px;
}

.icon-wrapper {
  display: flex;
  justify-content: center;
  border-radius: 50%;
  width: fit-content;
}
.actions {
  margin-top: 24px;
  display: flex;
  justify-content: center;
  gap: 16px;
  width: 100%;
}
h2 {
  font-size: 24px;
  font-weight: 700;
  color: #333435;
  margin: 8px 0;
}

p {
  font-size: 14px;
  color: #6e7072;
  max-width: 320px;
}

.actions {
  display: flex;
  gap: 12px;

  button.popup-button {
    display: flex;
    height: 43px;
    padding: 12px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    flex: 1 0 0;
    border-radius: 12px;
    cursor: pointer;
    font-size: var(--Font-Size-3Xs, 12px);
    font-style: normal;
    font-weight: var(--Font-Weight-Medium, 500);
  }
}

/* Button Variants */
button.confirm-delete {
  background: #b3261e;
  color: var(--Color-Neutral-100, #fefefe);
  border: none;
  &:hover {
    background: #9e1f19;
  }
}
button.confirm-cancel {
  background: #fff;
  color: #333435;
  border: solid 1px #dededf;
  &:hover {
    background: #c6c6c6;
  }
}

.confirm-primary {
  background: #2563eb;
  border: none;
}

.confirm-success {
  background: linear-gradient(
    270deg,
    var(--Color-Primary-400, #82c672) 39.41%,
    var(--Color-Primary2-400, #b0d357) 98.64%
  );

  color: var(--Color-Neutral-100, #fefefe);
  font-size: var(--Font-Size-2Xs, 14px);
  border: none;
}

.confirm-warning {
  background: #f59e0b;
  border: none;
}
.title {
  color: var(--Color-Neutral-2000, #333435);
  text-align: center;
  font-size: var(--Font-Size-L, 24px);
  font-style: normal;
  font-weight: var(--Font-Weight-Semi-Bold, 700);
  line-height: var(--Font-Line-Height-L, 27.6px); /* 115% */
}
.subtitle {
  color: var(--Color-Neutral-800, #6e7072);
  text-align: center;
  font-size: var(--Font-Size-2Xs, 14px);
  font-style: normal;
  font-weight: var(--Font-Weight-Regular, 400);
  line-height: var(--Font-Line-Height-2Xs, 16.8px); /* 120% */
}
.popup-text {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 8px;
}
