<p-dialog
  [(visible)]="visible"
  [modal]="true"
  [closable]="false"
  [draggable]="false"
  [resizable]="false"
  styleClass="confirmation-dialog"
>
  <div class="dialog-content">
    <!-- ICON -->
    @if (config.icon) {
      <div
        class="icon-wrapper"
        [style.border-color]="config.iconBorderColor"
        [style.background]="config.iconBgColor"
      >
        <div class="icon-inner">
          <img [src]="config.icon" alt="icon" />
        </div>
      </div>
    }

    <!-- TEXT -->
    <h2>{{ config.title }}</h2>

    @if (config.subtitle) {
      <p>{{ config.subtitle }}</p>
    }

    <!-- ACTIONS -->
    <div class="actions">
      @if (config.showCancel !== false) {
        <button
          pButton
          type="button"
          [label]="config.cancelText ?? 'Cancel'"
          class="p-button-outlined cancel-btn"
          (click)="close()"
        ></button>
      }

      <button
        pButton
        type="button"
        [label]="config.confirmText ?? 'Confirm'"
        [class]="severityClass"
        (click)="onConfirm()"
      ></button>
    </div>
  </div>
</p-dialog>
