.page-container {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 16px;
  .form-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  form 
  {
    display: flex;
    flex-direction: column;
    gap: 16px;
    .fieldsets-container
    {
        display: flex;
        gap: 16px;

        & > div 
        {
            width: 60%;

            @media (max-width: 768px) 
            {
                width: 100%;
            }

        }
        & > app-settings 
        {
            width: 40%;

            @media (max-width: 768px) 
            {
                width: 100%;
            }
        }

        @media (max-width: 768px) 
        {
            flex-direction: column;
        }
    }
    .fieldset
    {
    display: flex;
    padding: 16px;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    align-self: stretch;
    border-radius: 20px;
    background: var(--Color-Neutral-white, #FFF);

    legend 
    {
        color: var(--Color-Neutral-2000, #333435);
        font-size: var(--Font-Size-M, 20px);
        font-style: normal;
        font-weight: var(--Font-Weight-Medium, 500);
        line-height: var(--Font-Line-Height-M, 24px); /* 120% */
        display: flex;
        align-items: baseline;
        gap: 8px;
        span 
        {
            color: var(--Color-Neutral-500, #939598);
            font-size: var(--Font-Size-2Xs, 14px);
            font-style: normal;
            font-weight: var(--Font-Weight-Medium, 500);
            line-height: 16.8px;
        }
    }
    }   
  }
}
