.login-wrapper {
  position: relative;
  display: flex;
  height: 100vh;
  justify-content: space-between;
  align-items: center;
  padding: 24px;

  .production {
    position: absolute;
    top: 24px;
    left: 74px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    color: var(--Color-Essentials-Secondary, #333);
    font-family: var(--Font-Family-Secondary, Dubai);
    font-size: var(--Font-Size-XS, 14px);
    font-style: normal;
    font-weight: var(--Font-Weight-Regular, 400);
    line-height: var(--Font-Line-Height-XS, 16.8px);
  }
}

/* LEFT */
.login-left {
  width: 50%;
  padding: 0 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #ffffff;
  gap: 44px;

  .logo {
    text-align: center;
  }

  h2 {
    margin-bottom: 8px;
    text-align: center;
    color: var(--Color-Primary-1000, #2E4528);
    font-family: var(--Font-Family-Secondary, Dubai);
    font-size: var(--Font-Size-Xl, 26px);
    font-style: normal;
    font-weight: var(--Font-Weight-Semi-Bold, 700);
    line-height: var(--Font-Line-Height-Xl, 31.2px);
  }

  .subtitle {
    color: var(--Color-Neutral-800, #6E7072);
    text-align: center;
    font-family: var(--Font-Family-Secondary, Dubai);
    font-size: var(--Font-Size-M, 20px);
    font-style: normal;
    font-weight: var(--Font-Weight-Regular, 400);
    line-height: var(--Font-Line-Height-M, 24px);
  }

  form {
    display: flex;
    flex-direction: column;

    .credntials {
      display: flex;
      flex-direction: column;
      gap: 24px;
    }

    label {
      margin-bottom: 10px;
      color: var(--Color-Neutral-800, #6E7072);
      font-family: var(--Font-Family-Secondary, Dubai);
      font-size: var(--Font-Size-S, 18px);
      font-style: normal;
      font-weight: var(--Font-Weight-Regular, 500);
      line-height: var(--Font-Line-Height-S, 21.6px);

      span {
        color: red;
      }
    }

    button.submit {
      margin-top: 20px;
      display: flex;
      height: 48px;
      padding: 4px 24px;
      justify-content: center;
      align-items: center;
      gap: 4px;
      align-self: stretch;
      border-radius: 16px;
      background: linear-gradient(270deg, var(--Color-Primary-400, #82C672) 39.41%, var(--Color-Primary2-400, #B0D357) 98.64%);
      border: none;
      color: var(--Color-Neutral-100, #FEFEFE);
      font-size: var(--Font-Size-Xs, 16px);
      font-style: normal;
      font-weight: var(--Font-Weight-Semi-Bold, 600);
      line-height: var(--Font-Line-Height-Xs, 19.2px);
      cursor: pointer;

      &:hover {
        background: linear-gradient(270deg, var(--Color-Primary-400, #77b26a) 39.41%, var(--Color-Primary2-400, #B0D357) 98.64%);
      }
    }
  }





  .support {
    margin-top: 18px;
    text-align: center;
    color: var(--text-soft-400, #99A0AE);
    font-size: var(--Font-Size-Xs, 16px);
    font-weight: var(--Font-Weight-Light, 300);
    line-height: var(--Font-Line-Height-Xs, 19.2px);

    a {
      color: var(--Color-Primary-400, #82C672);
      text-decoration: none;
      font-family: var(--Font-Family-Secondary, Dubai);
      font-size: var(--Font-Size-Xs, 16px);
      font-style: normal;
      font-weight: var(--Font-Weight-Medium, 500);
      line-height: var(--Font-Line-Height-Xs, 19.2px);

      &:hover {
        color: var(--color-primary-600);
      }
    }
  }
}

/* RIGHT */
.login-right {
  position: relative;
  border-radius: 24px 0 0 24px;
  overflow: hidden;
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .overlay {
    top: 100px;
    position: absolute;
    text-align: center;
    max-width: 420px;
    color: #1f2937;
    z-index: 2;

    h3 {
      color: var(--Color-Primary-1000, #2E4528);
      text-align: center;
      font-family: var(--Font-Family-Secondary, Dubai);
      font-size: var(--Font-Size-3Xl, 32px);
      font-weight: var(--Font-Weight-Semi-Bold, 700);
    }

    p {
      color: var(--Color-Neutral-800, #6E7072);
      text-align: center;
      font-family: var(--Font-Family-Secondary, Dubai);
      font-size: var(--Font-Size-M, 20px);
      font-style: normal;
      font-weight: var(--Font-Weight-Medium, 500);
      line-height: var(--Font-Line-Height-M, 24px);
    }
  }

  .dashboard-preview {
    position: relative;
    border-radius: 26px;
    width: 100%;
    height: 100%;
  }
}

@media screen and (max-width:992px) {
  .login-wrapper {
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .production {
      top: 12px;
      left: 12px;
    }
  }

  .login-right {
    display: none;

  }

  .login-left {
    width: 100%;
    padding: 0 50px;
  }

}

::ng-deep .p-password {
  width: 100%;
}

.login-error {
  padding: 12px 16px;
  margin-bottom: 20px;
  border-radius: 8px;
  background-color: #fee2e2;
  border: 1px solid #fca5a5;

}

span,
.error {
  color: #dc2626;
  font-family: var(--Font-Family-Secondary, Dubai);
  font-size: var(--Font-Size-S, 16px);
  font-weight: var(--Font-Weight-Medium, 500);
  line-height: var(--Font-Line-Height-S, 19.2px);
}

button.submit:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}