<div class="login-wrapper">
  <div class="production">
    Powerd By
    <img src="images/2blogo.svg" alt="2b" />
  </div>
  <!-- Left Side -->
  <div class="login-left">
    <div class="logo">
      <img src="images/logo.svg" alt="Nature" />
    </div>
    <div class="head">
      <h2>Login to your account</h2>
      <p class="subtitle">
        Unlock Your Progress - Securely Access Your Content!
      </p>
    </div>
    <form [formGroup]="loginForm" (ngSubmit)="submit()">
      <!-- Add this error alert for wrong credentials -->
      @if (loginError) {
        <div class="login-error">
          <span>{{ loginError }}</span>
        </div>
      }

      <!-- USERNAME -->
      <div class="our-field">
        <label>Username <span>*</span></label>
        <input
          type="text"
          placeholder="Enter your username"
          formControlName="username"
          pInputText
        />
        @if (username?.touched && username?.invalid) {
          <div class="error">
            @if (username?.errors?.["required"]) {
              <span>Please enter your username</span>
            }
          </div>
        }
      </div>

      <!-- PASSWORD -->
      <div class="field password-field">
        <label>Password <span>*</span></label>
        <p-password
          formControlName="password"
          [toggleMask]="true"
          [feedback]="false"
          autocomplete="off"
          placeholder="Enter your password"
        />
        @if (password?.touched && password?.invalid) {
          <div class="error">
            @if (password?.errors?.["required"]) {
              <span>Please enter your password</span>
            }
          </div>
        }
      </div>

      <button class="submit" type="submit" [disabled]="isLoading">
        {{ isLoading ? "Signing In..." : "Sign In" }}
      </button>

      <p class="support">
        Have a problem signing in? <a href="#">Call Support</a>
      </p>
    </form>
  </div>

  <!-- Right Side -->
  <div class="login-right">
    <div class="overlay">
      <h3>Manage your website content</h3>
      <p>
        Dive in to set up your Website content, upload projects, and manage your
        website effectively.
      </p>
    </div>

    <img class="dashboard-preview" src="images/asdsasd.png" alt="Dashboard" />
  </div>
</div>
