<div class="login-wrapper">
  <div class="production">
    {{ "login.powered_by" | translate }}
    <img src="images/2blogo.svg" alt="2b" />
  </div>

  <!-- Left Side -->
  <div class="login-left">
    <div class="logo">
      <img src="images/logo.svg" alt="Nature" />
    </div>

    <div class="head">
      <h2>{{ "login.title" | translate }}</h2>
      <p class="subtitle">{{ "login.subtitle" | translate }}</p>
    </div>

    <form [formGroup]="loginForm" (ngSubmit)="submit()">
      <div class="credntials">
        <!-- USERNAME -->
        <div class="our-field">
          <label>
            {{ "login.labels.username" | translate }} <span>*</span>
          </label>
          <input
            type="text"
            [placeholder]="'login.placeholders.username' | translate"
            formControlName="username"
            pInputText
          />
          @if (username?.touched && username?.invalid) {
            <div class="error">
              @if (username?.errors?.["required"]) {
                <span>{{ "validation.required" | translate }}</span>
              }
            </div>
          }
        </div>

        <!-- PASSWORD -->
        <div class="our-field">
          <label>
            {{ "login.labels.password" | translate }} <span>*</span>
          </label>
          <p-password
            formControlName="password"
            [toggleMask]="true"
            [feedback]="false"
            autocomplete="off"
            [placeholder]="'login.placeholders.password' | translate"
          />
          @if (password?.touched && password?.invalid) {
            <div class="error">
              @if (password?.errors?.["required"]) {
                <span>{{ "validation.required" | translate }}</span>
              }
            </div>
          }
        </div>
      </div>

      <button class="primary-btn submit" type="submit" [disabled]="isLoading">
        <span>
          {{
            isLoading
              ? ("login.buttons.signing_in" | translate)
              : ("login.buttons.sign_in" | translate)
          }}
        </span>
      </button>
      @if (loginError) {
        <div class="login-error">
          <span>{{ loginError | translate }}</span>
        </div>
      }
      <p class="support">
        {{ "login.support.text" | translate }}
        <a href="#">{{ "login.support.cta" | translate }}</a>
      </p>
    </form>
  </div>

  <!-- Right Side -->
  <div class="login-right">
    <div class="overlay">
      <h3>{{ "login.overlay.title" | translate }}</h3>
      <p>{{ "login.overlay.desc" | translate }}</p>
    </div>

    <img class="dashboard-preview" src="images/asdsasd.png" alt="Dashboard" />
  </div>
</div>
