<div class="btns-container">
    <button (click)="onDiscard($event)" class="basic-btn">
        <span>Discard</span>
    </button>

    <div class="language-selector">
        <p-select [(ngModel)]="displayLanguage" [options]="languages" optionLabel="label" optionValue="code"
            placeholder="Select Language" (onChange)="onLanguageChange($event)">
            <ng-template let-lang pTemplate="selectedItem">
                <div class="flex align-items-center gap-2" *ngIf="lang">
                    <img [src]="lang.flag" width="20" height="18" [alt]="lang.label" />
                    <span class="lang-label">Localization ({{ lang.label }})</span>
                </div>
            </ng-template>
        </p-select>
    </div>

    <button (click)="onSave($event)" class="action-btn" [disabled]="!isFormValid" [class.disabled]="!isFormValid">
        <span>Save</span>
    </button>
</div>