<div class="btns-container">
    <button (click)="onDiscard($event)" class="basic-btn">
        <span>Discard</span>
    </button>
    <button (click)="onLanguageChange($event)" class="outline-btn">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="14" viewBox="0 0 20 14" fill="none">
            <rect width="19.6" height="14" rx="1.4" fill="white" />
            <mask id="mask0_10278_3771" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="0" y="0" width="20"
                height="14">
                <rect width="19.6" height="14" rx="1.4" fill="white" />
            </mask>
            <g mask="url(#mask0_10278_3771)">
                <rect width="19.6" height="14" fill="#0A17A7" />
                <path
                    d="M21.5417 0.206299L14.9285 4.66724H19.6003V9.33325H14.9285L21.5417 13.7942L20.4978 15.342L12.1335 9.69946V14.9338H7.46655V9.69946L-0.897705 15.342L-1.94165 13.7942L4.67163 9.33325H-0.000244141V4.66724H4.67163L-1.94165 0.206299L-0.897705 -1.34155L7.46655 4.30005V-0.93335H12.1335V4.30005L20.4978 -1.34155L21.5417 0.206299Z"
                    fill="white" />
                <path d="M13.0676 4.43251L21.9334 -1.40002" stroke="#DB1F35" stroke-width="0.466667"
                    stroke-linecap="round" />
                <path d="M14.009 9.58827L21.9567 14.9453" stroke="#DB1F35" stroke-width="0.466667"
                    stroke-linecap="round" />
                <path d="M5.60383 4.41739L-2.68628 -1.16962" stroke="#DB1F35" stroke-width="0.466667"
                    stroke-linecap="round" />
                <path d="M6.50299 9.52347L-2.68628 15.6174" stroke="#DB1F35" stroke-width="0.466667"
                    stroke-linecap="round" />
                <path fill-rule="evenodd" clip-rule="evenodd" d="M0 8.4H8.4V14H11.2V8.4H19.6V5.6H11.2V0H8.4V5.6H0V8.4Z"
                    fill="#E6273E" />
            </g>
        </svg>

        <span>
            Localization (English)
        </span>

        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18" fill="none">
            <path d="M4.5 6.75L9 11.25L13.5 6.75" stroke="#0C0C0C" stroke-width="1.66666" stroke-linecap="round"
                stroke-linejoin="round" />
        </svg>
    </button>

    <button (click)="onSave($event)" class="action-btn">
        <span>Save</span>
    </button>


</div>