.btns-container {
  display: flex;
  justify-content: flex-end;
  gap: 8px;
}
.lang-label {
  color: var(--Secondary-500, #232323);
  text-align: center;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 18px */
  letter-spacing: -0.36px;
}
:host ::ng-deep {
  .p-select-label {
    padding-inline-end: 0;
  }
  .p-select {
    align-items: center;
    height: 100%;
  }
}
