<div class="btns-container">
    <button (click)="onDiscard($event)" class="basic-btn">
        <span>{{ 'form_actions.discard' | translate }}</span>
    </button>

    <div class="language-selector">
        <p-select [(ngModel)]="displayLanguage" [options]="languages" optionLabel="label" optionValue="code"
            [placeholder]="'navbar.select_language' | translate" (onChange)="onLanguageChange($event)">
            <ng-template let-lang pTemplate="selectedItem">
                <div class="flex align-items-center gap-2" *ngIf="lang">
                    <img [src]="lang.flag" width="20" height="18" [alt]="lang.label" />
                    <span class="lang-label">{{ 'form_actions.localization' | translate: {language:
                        getLanguageLabel(displayLanguage)} }}</span>
                </div>
            </ng-template>
        </p-select>
    </div>

    <button (click)="onSave($event)" class="action-btn" [disabled]="!isFormValid" [class.disabled]="!isFormValid">
        <span *ngIf="!editMode">{{ 'form_actions.save' | translate }}</span>
        <span *ngIf="editMode">{{ 'form_actions.update' | translate }}</span>
    </button>
</div>