.page-container {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 16px;
  .form-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  form {
    display: flex;
    flex-direction: column;
    gap: 16px;
    .fieldset {
      border-radius: 20px;
      background: var(--Background-bg-white-card, #fff);
      display: flex;
      padding: 20px;
      flex-direction: column;
      align-items: flex-start;
      gap: 12px;
      align-self: stretch;
      legend {
        color: var(--Text-text-bold, #121212);
        font-size: var(--font-size-heading-heading-6, 20px);
        font-style: normal;
        font-weight: 600;
        line-height: 130%; /* 26px */

        span {
          color: var(--Secondary-200, #9a9a9a);
          font-size: var(--Static-Body-Small-Size, 12px);
          font-style: normal;
          font-weight: 500;
          line-height: var(--Static-Body-Small-Line-Height, 16px);
          letter-spacing: var(--Static-Body-Small-Tracking, 0.4px);
        }
      }
      .subsections-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 20px;

        .subsection-row {
          display: flex;
          align-items: center;
          width: 100%;
          flex-direction: row-reverse;
          gap: 16px;

          .subsection-fields {
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 12px;
          }
        }
      }
    }
  }
}
