<div class="table-footer">
  <div class="info">
    Showing {{ page * rows + 1 }} to {{ getLastItemIndex() }} of
    {{ totalRecords }} entries
  </div>

  <div class="pagination">
    <button
      class="pagination-btn prev"
      (click)="prev()"
      [disabled]="page === 0"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="8"
        height="14"
        viewBox="0 0 8 14"
        fill="none"
      >
        <path
          d="M6.75 12.75L0.75 6.75L6.75 0.75"
          stroke="#FEFEFE"
          stroke-width="1.5"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
      </svg>
    </button>

    @for (p of pages; track p) {
      @if (typeof p === "number") {
        <button [class.active]="p === page" (click)="go(+p)">
          {{ +p + 1 }}
        </button>
      } @else {
        <span class="disabled">...</span>
      }
    }

    <button
      class="pagination-btn next"
      (click)="next()"
      [disabled]="page === totalPages - 1"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="8"
        height="14"
        viewBox="0 0 8 14"
        fill="none"
      >
        <path
          d="M0.75 0.75L6.75 6.75L0.75 12.75"
          stroke="#FEFEFE"
          stroke-width="1.5"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
      </svg>
    </button>
  </div>

  <div class="rows">
    Show
    <p-select
      [options]="rowsOptions"
      [(ngModel)]="rows"
      (ngModelChange)="onPaginationChange({ size: $event })"
      styleClass="rows-dropdown"
    />
    entries
  </div>
</div>
