.close-popup-btn {
  width: 40px;
  height: 40px;
  transform: rotate(90deg);
  border-radius: 24px 0;
  background: linear-gradient(
    180deg,
    var(--Color-Primary2-400, #b0d357) 0%,
    var(--Color-Primary-400, #82c672) 100%
  );
  border: none;
  border-color: transparent;
  cursor: pointer;
  transition: border-color 0s ease-in-out;

  svg {
    margin-block-start: 4px;

    path {
      transition: 0.2s ease-in-out;
    }
  }

  &:hover {
    background: none;
    border: 1px solid var(--Color-Primary-400, #82c672);

    svg path {
      stroke: #8ac86e;
    }
  }
}

.tooltip-content {
  background: #eee;
  width: max-content;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px 8px;
  border-radius: 8px;

  span {
    color: #000;
    font-size: 12px;
    line-height: normal;
    font-weight: lighter;
  }
}

.p-tooltip-bottom {
  .p-tooltip-arrow {
    border-top-color: #eee !important;
    border-bottom-color: #eee !important;
  }

  .p-tooltip-text {
    padding: 0;
    background: none;
  }
}

.pagination-btn {
  width: 40px;
  height: 40px;
  transform: rotate(45deg);
  border-radius: 24px 0;
  background: linear-gradient(
    180deg,
    var(--Color-Primary2-400, #b0d357) 0%,
    var(--Color-Primary-400, #82c672) 100%
  );
  border: none;
  border-color: transparent;
  cursor: pointer;
  transition:
    border-color 0s ease-in-out,
    transform 0.3s ease-in-out;

  svg {
    margin-block-start: 4px;
    transform: rotate(-45deg);

    path {
      transition: 0.2s ease-in-out;
    }
  }

  &:hover {
    background: none;
    border: 1px solid var(--Color-Primary-400, #82c672);

    svg path {
      stroke: #8ac86e;
    }
  }

  &.prev:hover {
    transform: rotate(45deg) translate(-8px, 8px);
  }

  &.next:hover {
    transform: rotate(45deg) translate(8px, -8px);
  }
}

.partner-btn {
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  padding: 16px 24px;
  border-radius: 16px;
  background: #fff;
  cursor: pointer;
  z-index: 1;
  border: 1px solid #82c672;

  span {
    color: var(--Color-Primary-400, #82c672);
    font-size: var(--Font-Size-Xs, 16px);
    font-style: normal;
    font-weight: var(--Font-Weight-Semi-Bold, 600);
    line-height: var(--Font-Line-Height-Xs, 19.2px);
    /* 120% */
  }

  svg path,
  span {
    transition: 0.6s ease;
  }

  &::before {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    background: linear-gradient(
      270deg,
      var(--Color-Primary-400, #82c672) 40%,
      var(--Color-Primary2-400, #b0d357) 100%
    );
    border-radius: 50%;
    left: 50%;
    bottom: -10px;
    transform: translateX(-50%) scale(0);
    transition: transform 0.6s cubic-bezier(0.4, 0, 0.2, 1);
    z-index: -1;
  }

  &:hover {
    svg path {
      fill: #fff;
    }

    span {
      color: #fff;
    }

    &::before {
      transform: translateX(-50%) scale(25);
    }
  }
}

.backBtn {
  border-radius: 19.2px 0;
  background: linear-gradient(
    180deg,
    var(--Color-Primary2-400, #b0d357) 0%,
    var(--Color-Primary-400, #82c672) 100%
  );
  width: 32px;
  height: 32px;
  transform: rotate(45deg);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px;
  border: none;
  cursor: pointer;
  transition:
    border-color 0s ease-in-out,
    transform 0.3s ease-in-out;

  svg {
    transform: rotate(-45deg);
  }

  &:hover {
    svg path {
      stroke: #8ac86e;
    }

    color: var(--Color-Primary-400, #82c672);
    background: none;
    border: 1px solid var(--Color-Primary-400, #82c672);
    transform: rotate(45deg) translate(-8px, 8px);
  }
}

// -----------------------------------------

.custom-btn {
  display: flex;
  padding: 4px 24px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 12px;
  border: 1px solid;
  height: 42px;
  cursor: pointer;

  &:disabled {
    opacity: 0.6;
  }
}

.btn-primary {
  color: var(--Color-Neutral-100, #fefefe);
  border-radius: 12px;
  background: linear-gradient(
    270deg,
    var(--Color-Primary-400, #82c672) 39.41%,
    var(--Color-Primary2-400, #b0d357) 98.64%
  );
  display: flex;
  height: 42px;
  padding: 4px 24px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  border: none;

  span,
  i {
    color: var(--Color-Neutral-100, #fefefe);
    font-size: var(--Font-Size-3Xs, 12px);
    font-style: normal;
    font-weight: var(--Font-Weight-Semi-Bold, 700);
    line-height: var(--Font-Line-Height-Xs, 19.2px);
    /* 160% */
  }

  &.disabled,
  &:disabled {
    color: #fff;
    background: #d1d5dc;
    cursor: not-allowed;
  }
}

.btn-primary-outline {
  color: var(--Color-Primary-400, #82c672);
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  padding: 16px 24px;
  border-radius: 12px;
  background: #fff;
  cursor: pointer;
  z-index: 1;
  border: 1px solid #82c672;
  transition: all 0.6s ease-in-out;
  font-size: var(--Font-Size-2Xs, 14px);
  font-style: normal;
  font-weight: var(--Font-Weight-Semi-Bold, 700);
  line-height: var(--Font-Line-Height-Xs, 19.2px);

  span,
  i {
    color: var(--Color-Primary-400, #82c672);
    font-size: var(--Font-Size-2Xs, 14px);
    font-style: normal;
    font-weight: var(--Font-Weight-Semi-Bold, 700);
    line-height: var(--Font-Line-Height-Xs, 19.2px);
    /* 137.143% */
    /* 120% */
  }

  svg path,
  span,
  i {
    transition: 0.6s ease;
  }
}

.anm-bg-grow {
  &::before {
    content: "";
    position: absolute;
    width: 5%;
    height: 20px;
    background: linear-gradient(
      270deg,
      var(--Color-Primary-400, #82c672) 40%,
      var(--Color-Primary2-400, #b0d357) 100%
    );
    border-radius: 50%;
    left: 50%;
    bottom: -10px;
    transform: translateX(-50%) scale(0);
    transition: transform 0.6s cubic-bezier(0.4, 0, 0.2, 1);
    z-index: -1;
  }

  &:hover {
    color: white;

    svg path {
      fill: #fff;
    }

    span,
    i {
      color: #fff;
    }

    &::before {
      transform: translateX(-50%) scale(25);
    }
  }
}

.anm-expand {
  transition: all 0.4s ease-in-out;

  &:hover {
    padding: 4px 40px;
    background: linear-gradient(
      270deg,
      var(--Color-Primary-400, #82c672) 39.41%,
      var(--Color-Primary2-400, #b0d357) 98.64%
    );
    gap: 20px;
  }
}

.anm-expand-gap {
  transition: all 0.4s ease-in-out;

  i,
  svg {
    transition: all 0.4s ease-in-out;
  }

  span {
    transition: all 0.4s ease-in-out;
  }

  &:hover {
    background: linear-gradient(
      270deg,
      var(--Color-Primary-400, #82c672) 39.41%,
      var(--Color-Primary2-400, #b0d357) 98.64%
    );

    i,
    svg {
      transform: translateX(-4px);
    }

    span {
      transform: translateX(4px);
    }
  }
}

.btn-white {
  color: var(--Color-Neutral-2000, #333435);
  font-size: var(--Font-Size-3Xs, 12px);
  font-style: normal;
  font-weight: var(--Font-Weight-Medium, 500);
  line-height: var(--Font-Line-Height-2Xs, 16.8px);
  border-color: var(--Color-Neutral-400, #dededf);
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  padding: 8px 12px;
  border-radius: 12px;
  background: #fff;
  cursor: pointer;
  z-index: 1;
  transition: all 0.6s ease-in-out;

  span,
  i,
  svg {
    transition: all 0.6s ease-in-out;
  }

  &:hover {
    filter: brightness(0.95);
  }
}

.min-width-btn {
  min-width: 117px;
}

.action-btn {
  border-radius: 12px;
  background: linear-gradient(
    270deg,
    var(--Color-Primary-400, #82c672) 39.41%,
    var(--Color-Primary2-400, #b0d357) 98.64%
  );
  display: flex;
  height: 42px;
  padding: 4px 24px;
  justify-content: center;
  align-items: center;
  gap: 4px;
  cursor: pointer;
  border: none;
  min-width: 134px;

  span {
    color: var(--Color-Neutral-100, #fefefe);
    font-size: var(--Font-Size-3Xs, 12px);
    font-style: normal;
    font-weight: var(--Font-Weight-Semi-Bold, 700);
    line-height: var(--Font-Line-Height-Xs, 19.2px);
    /* 160% */
  }

  transition: all 0.4s ease-in-out;

  &:hover {
    padding: 4px 40px;
    background: linear-gradient(
      270deg,
      var(--Color-Primary-400, #82c672) 39.41%,
      var(--Color-Primary2-400, #b0d357) 98.64%
    );
    gap: 20px;
  }

  &.disabled,
  &:disabled {
    color: #fff;
    background: #d1d5dc;
    cursor: not-allowed;
  }
}

.delete-btn {
  cursor: pointer;
  border-radius: 8.239px;
  border: 1.03px solid var(--Greyscale-100, #dfe1e7);
  background: var(--Greyscale-0, #fff);
  box-shadow: 0 1.03px 2.06px 0 rgba(13, 13, 18, 0.06);
  display: flex;
  width: 32px;
  height: 32px;
  justify-content: center;
  align-items: center;
  gap: 8.239px;
  transition: 0.2s ease;
  flex: 0 0 auto;

  &:hover {
    background: oklch(97.1% 0.013 17.38);
    border-color: oklch(88.5% 0.062 18.334);
  }
}

.p-inputtext:disabled {
  opacity: 0.6;
}

.add-form-group-btn {
  display: flex;
  align-items: center;
  gap: 8px;
  color: var(--Color-Primary-500, #75b267);
  font-size: var(--Font-Size-S, 18px);
  font-weight: var(--Font-Weight-Medium, 500);
  border: none;
  background-color: transparent;
  transition: all 0.3s;
  border-radius: 12px;
  cursor: pointer;
  padding: 0.5rem;
  width: fit-content;

  &:hover {
    background-color: rgba(240, 249, 238, 0.8);
  }
}

.basic-btn {
  color: var(--Color-Primary-500, #75b267);
  display: flex;
  height: 42px;
  padding: 4px 24px;
  justify-content: center;
  align-items: center;
  gap: 4px;
  border-radius: 12px;
  background: var(--Color-Neutral-200, #f4f4f5);
  transition: 0.2s ease;
  border: none;
  cursor: pointer;
  min-width: 134px;

  span,
  i {
    color: var(--Color-Primary-500, #75b267);
    font-size: var(--Font-Size-3Xs, 12px);
    font-style: normal;
    font-weight: var(--Font-Weight-Semi-Bold, 700);
    line-height: var(--Font-Line-Height-Xs, 19.2px);
  }

  &:hover {
    background: oklch(0.98 -1 0 / 1);
  }
}

.outline-btn {
  display: flex;
  padding: 12px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 12px;
  border: 1px solid var(--Other-Stroke, #d9d9d9);
  background: var(--Secondary-White, #fff);
  transition: 0.2s ease;
  cursor: pointer;
  min-width: 200px;

  span {
    color: var(--Secondary-500, #232323);
    text-align: center;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    /* 18px */
    letter-spacing: -0.36px;
  }

  &:hover {
    background-color: oklch(0.98 -1 0 / 1);
  }
}

html:lang(ar) .backBtn {
  transform: rotate(-135deg);
}
