  
.close-popup-btn {
  width: 40px;
  height: 40px;
  transform: rotate(90deg);
  border-radius: 24px 0;
  background: linear-gradient(
    180deg,
    var(--Color-Primary2-400, #b0d357) 0%,
    var(--Color-Primary-400, #82c672) 100%
  );
  border: none;
  border-color: transparent;
  cursor: pointer;
  transition: border-color 0s ease-in-out;

  svg {
    margin-block-start: 4px;
    path {
      transition: 0.2s ease-in-out;
    }
  }

  &:hover {
    background: none;
    border: 1px solid var(--Color-Primary-400, #82c672);

    svg path {
      stroke: #8ac86e;
    }
  }
}

.basic-btn {
  border-radius: 16px;
  border: 1px solid var(--Color-Primary-500, #75b267);
  background: var(--Color-Neutral-100, #fefefe);
  height: 32px;
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 8px 12px;
  transition: 0.2s ease-in-out;
  cursor: pointer;

  span {
    color: var(--Color-Primary-500, #75b267);
    font-size: var(--Font-Size-Xs, 16px);
    font-style: normal;
    font-weight: var(--Font-Weight-Semi-Bold, 700);
    line-height: var(--Font-Line-Height-Xs, 19.2px); /* 120% */
    transition: 0.2s ease-in-out;
  }

  svg path {
    transition: 0.2s ease-in-out;
  }

  &:hover {
    background: #82c672;

    svg path {
      stroke: #ffffff;
    }
  }
}

.action-btn {
  width: 100%;
  border-radius: 16px;
  background: linear-gradient(
    270deg,
    var(--Color-Primary-400, #82c672) 39.41%,
    var(--Color-Primary2-400, #b0d357) 98.64%
  );
  display: flex;
  height: 48px;
  padding: 4px 24px;
  justify-content: center;
  align-items: center;
  gap: 4px;
  align-self: stretch;
  cursor: pointer;
  border: none;
  transition: 0.5s ease;

  span {
    color: var(--Color-Neutral-100, #fefefe);
    font-size: var(--Font-Size-Xs, 16px);
    font-style: normal;
    font-weight: var(--Font-Weight-Semi-Bold, 700);
    line-height: var(--Font-Line-Height-Xs, 19.2px); /* 120% */
  }

  &:hover {
    gap: 32px;
  }
}
.tooltip-content {
  background: #eee;
  width: max-content;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px 8px;
  border-radius: 8px;

  span {
    color: #000;
    font-size: 12px;
    line-height: normal;
    font-weight: lighter;
  }
}
.p-tooltip-bottom {
  .p-tooltip-arrow {
    border-top-color: #eee !important;
    border-bottom-color: #eee !important;
  }
  .p-tooltip-text {
    padding: 0;
    background: none;
  }
}
.pagination-btn {
  width: 40px;
  height: 40px;
  transform: rotate(45deg);
  border-radius: 24px 0;
  background: linear-gradient(
    180deg,
    var(--Color-Primary2-400, #b0d357) 0%,
    var(--Color-Primary-400, #82c672) 100%
  );
  border: none;
  border-color: transparent;
  cursor: pointer;
  transition: border-color 0s ease-in-out, transform 0.3s ease-in-out;

  svg {
    margin-block-start: 4px;
    transform: rotate(-45deg);
    path {
      transition: 0.2s ease-in-out;
    }
  }

  &:hover {
    background: none;
    border: 1px solid var(--Color-Primary-400, #82c672);

    svg path {
      stroke: #8ac86e;
    }
  }
  &.prev:hover {
    transform: rotate(45deg) translate(-8px, 8px);
  }
  &.next:hover {
    transform: rotate(45deg) translate(8px, -8px);
  }
}
.expand-btn {
  display: flex;
  padding: 4px 24px;
  justify-content: start;
  align-items: center;
  gap: 8px;
  border-radius: 16px;
  border: none;
  border: 1px solid #82c672;
  background: var(--Color-Neutral-100, #fefefe);
  transition: 0.35s ease;
  cursor: pointer;
  &.active,
  &:hover {
    padding: 4px 60px;
    background: linear-gradient(
      270deg,
      var(--Color-Primary-400, #82c672) 39.41%,
      var(--Color-Primary2-400, #b0d357) 98.64%
    );
    width: 100%;

    .co-detail {
      display: flex;
      flex-direction: column;
      align-items: start;
      p {
        color: var(--Color-Neutral-100, #fefefe);
        font-size: var(--Font-Size-Xs, 16px);
        font-style: normal;
        font-weight: var(--Font-Weight-Semi-Bold, 700);
        line-height: var(--Font-Line-Height-Xs, 19.2px); /* 120% */
      }
      span {
        color: var(--Color-Neutral-100, #fefefe);
        font-size: var(--Font-Size-2Xs, 14px);
        font-style: normal;
        font-weight: var(--Font-Weight-Light, 300);
        line-height: var(--Font-Line-Height-2Xs, 16.8px); /* 120% */
      }
    }
  }
  .co-detail {
    display: flex;
    flex-direction: column;
    align-items: start;
    p {
      color: var(--Color-Neutral-2000, #333435);
      font-size: var(--Font-Size-Xs, 16px);
      font-style: normal;
      font-weight: var(--Font-Weight-Semi-Bold, 700);
      line-height: var(--Font-Line-Height-Xs, 19.2px); /* 120% */
    }
    span {
      color: var(--Color-Neutral-2000, #333435);
      font-size: var(--Font-Size-2Xs, 14px);
      font-style: normal;
      font-weight: var(--Font-Weight-Light, 300);
      line-height: var(--Font-Line-Height-2Xs, 16.8px); /* 120% */
    }
  }
}
.partner-btn {
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  padding: 16px 24px;
  border-radius: 16px;
  background: #fff;
  cursor: pointer;
  z-index: 1;
  border: 1px solid #82c672;

  span {
    color: var(--Color-Primary-400, #82c672);
    font-size: var(--Font-Size-Xs, 16px);
    font-style: normal;
    font-weight: var(--Font-Weight-Semi-Bold, 600);
    line-height: var(--Font-Line-Height-Xs, 19.2px); /* 120% */
  }

  svg path,
  span {
    transition: 0.6s ease;
  }

  &::before {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    background: linear-gradient(
      270deg,
      var(--Color-Primary-400, #82c672) 40%,
      var(--Color-Primary2-400, #b0d357) 100%
    );
    border-radius: 50%;
    left: 50%;
    bottom: -10px;
    transform: translateX(-50%) scale(0);
    transition: transform 0.6s cubic-bezier(0.4, 0, 0.2, 1);
    z-index: -1;
  }

  &:hover {
    svg path {
      fill: #fff;
    }
    span {
      color: #fff;
    }
    &::before {
      transform: translateX(-50%) scale(25);
    }
  }
}
// -----------------------------------------

.custom-btn{
    display: flex;
    padding: 12px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 12px;
    border: 1px solid;
    cursor: pointer;
}
.btn-primary{
    border-radius: 12px;
    background: linear-gradient(270deg, var(--Color-Primary-400, #82C672) 39.41%, var(--Color-Primary2-400, #B0D357) 98.64%);
    border: none;
    color: var(--Color-Neutral-100, #FEFEFE);
    font-size: var(--Font-Size-2Xs, 14px);
    font-weight: var(--Font-Weight-Semi-Bold, 700);
}
.btn-white{
    border-radius: 12px;
    color: var(--Color-Neutral-2000, #333435);
    font-size: var(--Font-Size-3Xs, 12px);
    border-color: var(--Color-Neutral-400, #DEDEDF);
    background: var(--Color-Neutral-white, #FFF);
}
.min-width-btn{
  min-width: 117px;
}