<div class="page-content">
  <app-page-header></app-page-header>
  <h1>Testimonials</h1>
  <app-reusable-table
    [data]="data"
    [config]="config"
    [actions]="actions"
    [totalRecords]="totalRecords"
    [filterItems]="filterItems"
    (paginationChange)="onPaginationChange($event)"
  >
  </app-reusable-table>
</div>

<!-- Testimonials form dialog -->
<p-dialog
  styleClass="form-dialog"
  [modal]="true"
  [(visible)]="visible"
  [style]="{ width: '35rem' }"
>
  <ng-template pTemplate="header">
    @if (currentTestimonialId) {
      <h2>Edit Testimonial</h2>
    } @else {
      <h2>Add New Testimonial</h2>
    }
  </ng-template>

  <app-testimonials-form
    [testimonialId]="currentTestimonialId"
    (save)="handleSave($event)"
  ></app-testimonials-form>
</p-dialog>
