:host {
  .form-inputs {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  .form-footer {
    display: flex;
    justify-content: flex-end;
    gap: 12px;
    margin-top: 24px;
  }
}

:host ::ng-deep app-reusable-table td.testimonial-column {
  width: 500px;
  min-width: 500px;
}

:host ::ng-deep app-reusable-table td.testimonial-column .text-cell {
   width: 100%;
  display: -webkit-box !important;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  line-clamp: 2;
}
