<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="form-inputs">
    <div class="our-field">
      <label> Client name (English) <span class="text-red-val">*</span> </label>
      <input
        type="text"
        pInputText
        formControlName="clientNameEn"
        placeholder="Enter client name in English"
      />
      @if (isFieldInvalid("clientNameEn")) {
        <span class="text-red-val">Client name in English is required</span>
      }
    </div>

    <div class="our-field">
      <label> Client name (Arabic) <span class="text-red-val">*</span> </label>
      <input
        type="text"
        pInputText
        formControlName="clientNameAr"
        placeholder="أدخل اسم العميل بالعربية"
      />
      @if (isFieldInvalid("clientNameAr")) {
        <span class="text-red-val">Client name in Arabic is required</span>
      }
    </div>

    <div class="galary-field">
      <label> Client Image <span class="text-red-val">*</span> </label>

      <app-gallery-upload formControlName="clientImage"></app-gallery-upload>

      @if (isFieldInvalid("clientImage")) {
        <span class="text-red-val">Client image is required</span>
      }
    </div>
  </div>

  <div class="form-footer">
    <button
      type="button"
      class="custom-btn btn-white"
      (click)="onSaveAndCreateNew()"
      [disabled]="isLoading"
    >
      Save And Create New
    </button>

    <button type="submit" class="custom-btn btn-primary" [disabled]="isLoading">
      {{ isEditMode ? "Update" : "Save" }}
    </button>
  </div>
</form>
