.empty-state {
    display: flex;
    padding: 40px 16px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
    flex: 1 0 0;
    align-self: stretch;
    border-radius: 8px;
    border: 1px solid var(--Color-Neutral-300, #EFEFF0);
    background: var(--Color-Neutral-100, #FEFEFE);
  h3 {
    color: var(--Color-Neutral-Black, #000);
    text-align: center;
    font-size: var(--Font-Size-M, 20px);
    font-style: normal;
    font-weight: var(--Font-Weight-Medium, 500);
    line-height: var(--Font-Line-Height-M, 24px); /* 120% */
  }

  p {
    color: var(--Color-Neutral-800, #6E7072);
    text-align: center;
    font-size: var(--Font-Size-2Xs, 14px);
    font-style: normal;
    font-weight: var(--Font-Weight-Regular, 400);
    line-height: var(--Font-Line-Height-2Xs, 16.8px); /* 120% */  
    }

  .add-btn {
    border-radius: 12px;
    border: none;
    background: linear-gradient(270deg, var(--Color-Primary-400, #82C672) 39.41%, var(--Color-Primary2-400, #B0D357) 98.64%);
  }
}
