.app-layout {
  display: flex;
  min-height: 100vh;
  width: 100%;
  background-color: #fefefe;
  &.sidebar-collapsed .app-right {
    margin-left: 70px;
  }
}

.app-right {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-left: 242px;
  width: calc(100% - 242px);
  transition: margin-left 0.3s ease;
}

.navbar {
  flex-shrink: 0;
}

@media (max-width: 768px) {
  .app-layout {
    flex-direction: column;
    height: auto;
    min-height: 100vh;

    &.sidebar-collapsed .app-right {
      margin-left: 0;
    }
  }

  .app-right {
    margin-left: 0;
    width: 100%;
    height: calc(100vh - 60px);
  }

  .navbar {
    height: 60px;
    min-height: 60px;
  }

  .main-content {
    padding: 1rem;
    height: calc(100vh - 120px);
  }
}
html:lang(ar) :host .app-layout {
  .app-right {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-left: 0;
    margin-right: 242px;
    transition: margin-left 0.3s ease;
    &{
      @media screen and (max-width:768px) {
        margin-right: 0;
      }
    }
  }
  &.sidebar-collapsed .app-right {
    margin-left: 0;
    margin-right: 70px;

  }
}
