
:host{
    .filters-container{
        display: flex;
        align-items: center;
        gap: 12px;
        .search-input{
            flex-grow: 1;
            order: -1;
            .p-iconfield{
                ::ng-deep{
                    .p-inputtext{
                        // padding: 8px 16px;
                        font-size: var(--Font-Size-2Xs, 14px);
                        border-radius: 8px;
                        &::placeholder{
                            color: var(--Color-Neutral-500, #939598);
                            font-weight: var(--Font-Weight-Light, 400);
                        }
                    }
                }
            }
        }
    }
}
.filter-overlay.filter-overlay{

}