
:host{
    .filters-container{
        display: flex;
        align-items: center;
        gap: 12px;
        flex-wrap: wrap;

        .search-input{
            flex-grow: 1;
            order: -1;
            .p-iconfield{
                ::ng-deep{
                    .p-inputtext{
                        font-size: var(--Font-Size-2Xs, 14px);
                        border-radius: 8px;
                        &::placeholder{
                            color: var(--Color-Neutral-500, #939598);
                            font-weight: var(--Font-Weight-Light, 400);
                        }
                    }
                }
            }
        }
    }
}
::ng-deep .filter-overlay{
    min-width: 270px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    .filter-body{
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 80%;
        margin: auto;
    }
    .filter-footer{
        width: 80%;
        margin: auto;
        display: flex;
        justify-content: center;
        padding-top: 10px;
        gap: 8px;
    }
}