<div class="settings-container">
  <h4>{{ 'settings.title' | translate }}</h4>
  <div class="our-field">
    <label for="">
      {{ 'settings.status' | translate }}
      <span class="required">{{ 'settings.required' | translate }}</span>
    </label>
    <p-select [options]="statusOptions" [(ngModel)]="value" (ngModelChange)="onChange($event)"
      [placeholder]="'settings.select_status' | translate">
      <ng-template let-selected pTemplate="selectedItem">
        <div *ngIf="selected" class="flex align-items-center gap-2">
          <span>{{ selected.label | translate }}</span>
        </div>
      </ng-template>
      <ng-template let-item pTemplate="item">
        <div class="flex align-items-center gap-2">
          <span>{{ item.label | translate }}</span>
        </div>
      </ng-template>
    </p-select>

  </div>

  <div class="localization">
    <h4>{{ 'settings.localization' | translate }}</h4>
    <div class="languages">
      <div class="language-item">
        <div class="language-info">
          <img src="./images/usa.webp" [alt]="'settings.english' | translate" />
          <span>{{ 'settings.english' | translate }}</span>
        </div>
        <div class="status-pill" [ngClass]="statusView(englishStatus).class">
          {{ statusView(englishStatus).text }}
        </div>
      </div>

      <div class="language-item">
        <div class="language-info">
          <img src="./images/ue.webp" [alt]="'settings.arabic' | translate" />
          <span>{{ 'settings.arabic' | translate }}</span>
        </div>
        <div class="status-pill" [ngClass]="statusView(arabicStatus).class">
          {{ statusView(arabicStatus).text }}
        </div>
      </div>
    </div>
  </div>
</div>