%section-shared-styles{
  border-radius: 20px;
  background: var(--Color-Neutral-white, #FFF);
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
:host{
  .form-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 16px;
  }
  .award-form{
    width: 100%;
    display: flex;
    gap: 16px;
    background-color: transparent;
    .form-left-section{
      width: 70%;
      display: flex;
      flex-direction: column;
      gap: 16px;
      .details-section{
        @extend %section-shared-styles;        
      }
      .award-image-section{
        @extend %section-shared-styles;
      }
    }
    .form-right-section{
      width: 30%;
      display: flex;
      flex-direction: column;
      gap: 16px;
      .settings-section,.organizations-input{
        @extend %section-shared-styles;
      }
    }
    .inputs{
      display: flex;
      flex-direction: column;
      row-gap: 16px;
    }
  }
}