<div class="table-container">
  <div class="filter">
    <app-filters
      [filterConfig]="filterItems"
      (filterChange)="onFilterChange($event)"
    >
    </app-filters>
  </div>
  @if (data.length > 0) {
    <div class="custom-table">
      <p-table
        [value]="displayedData"
        [rows]="rows"
        [paginator]="false"
        [lazy]="
          config.serverSidePagination ||
          config.serverSideSort ||
          config.serverSideFilter
        "
        [selection]="selection"
        (selectionChange)="onSelectionChange($event)"
        (onSort)="onSort($event)"
      >
        <ng-template pTemplate="header">
          <tr>
            @if (config.selectionMode) {
              <th style="width: 40px">
                @if (config.selectionMode === "multiple") {
                  <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                }
              </th>
            }
            <th
              *ngFor="let col of config.columns"
              [style.width]="col.width"
              [pSortableColumn]="col.sortable ? col.field : ''"
            >
              {{ col.header | translate }}
              @if (col.sortable) {
                <p-sortIcon [field]="col.field"></p-sortIcon>
              }
            </th>

            @if (actions.length) {
              <th>{{ "general.actions" | translate }}</th>
            }
          </tr>
        </ng-template>

        <ng-template pTemplate="body" let-row>
          <tr>
            @if (config.selectionMode) {
              <td>
                @if (config.selectionMode === "multiple") {
                  <p-tableCheckbox [value]="row"></p-tableCheckbox>
                } @else if (config.selectionMode === "single") {
                  <p-tableRadioButton [value]="row"></p-tableRadioButton>
                }
              </td>
            }
            <td *ngFor="let col of config.columns" [class]="col.class">
              @switch (col.type) {
                @case ("avatar-and-name") {
                  <div class="avatar-and-name-cell">
                    <img
                      [src]="
                        baseMediaUrl +
                        (col.avatarField ? row[col.avatarField] : '')
                      "
                      alt="avatar"
                    />
                    <span>{{ row[col.field] }}</span>
                  </div>
                }

                @case ("country-chip") {
                  <div class="country-chip-cell">
                    <img
                      [src]="
                        baseMediaUrl +
                        (col.avatarField ? row[col.avatarField] : '')
                      "
                    />
                    <span>{{ row[col.field] }}</span>
                  </div>
                }

                @case ("chips-group") {
                  <div class="chips-group" [class]="row[col.field]">
                    <span
                      class="chip"
                      *ngFor="let s of row[col.field] | slice: 0 : 3"
                      >{{ s }}</span
                    >
                    @if (row[col.field].length > 3) {
                      <span class="chip plus"
                        >+ {{ row[col.field].length - 3 }}</span
                      >
                    }
                  </div>
                }
                @case ("languages-chips") {
                  <div class="chips-group">
                    <div
                      class="country-chip-cell"
                      *ngFor="let l of getLanguagesChips(row[col.field])"
                    >
                      <img *ngIf="l.flag" [src]="l.flag" />
                      <span>{{ l.code }}</span>
                      <i class="pi pi-check checked-lang"></i>
                    </div>
                  </div>
                }
                @case ("status") {
                  <p-inputswitch
                    (onChange)="
                      col?.statusCallback(
                        row,
                        $event.checked,
                        $event.originalEvent
                      )
                    "
                    [(ngModel)]="row[col.field]"
                  ></p-inputswitch>
                }

                @case ("badge") {
                  <span
                    [class]="
                      'badge ' +
                      (col.badgeColorField ? col.badgeColorField(row) : '')
                    "
                  >
                    {{ row[col.field] }}
                  </span>
                }

                @case ("text-and-desc") {
                  <div>
                    <div>{{ row[col.field] }}</div>
                    <small>{{
                      col.secondaryField ? row[col.secondaryField] : ""
                    }}</small>
                  </div>
                }

                @case ("image") {
                  <img
                    [src]="baseMediaUrl + row[col.field]"
                    alt="image"
                    class="table-image"
                  />
                }
                @case ("text-editor") {
                  <div [innerHTML]="row[col.field]"></div>
                }

                @default {
                  <span>{{ row[col.field] }}</span>
                }
              }
            </td>

            @if (actions.length) {
              <td class="actions-cell">
                <button
                  *ngFor="let act of getVisibleRowActions(row)"
                  class="custom-btn btn-{{ act.severity }} {{ act.class }}"
                  (click)="act.callback(row, $event)"
                >
                  {{ act.label | translate }}
                  @if (act.icon) {
                    <i [class]="act.icon"></i>
                  }@else {
                    <svg xmlns="http://www.w3.org/2000/svg" width="17" height="17" viewBox="0 0 17 17" fill="none">
                      <path d="M8.2391 13.7318H14.4184M2.05978 13.7318H3.20951C3.54538 13.7318 3.71331 13.7318 3.87135 13.6939C4.01147 13.6602 4.14541 13.6047 4.26827 13.5295C4.40685 13.4445 4.5256 13.3258 4.76309 13.0883L13.3886 4.46281C13.9574 3.89402 13.9574 2.97183 13.3886 2.40303C12.8198 1.83424 11.8976 1.83424 11.3288 2.40303L2.7033 11.0285C2.4658 11.266 2.34706 11.3848 2.26214 11.5233C2.18685 11.6462 2.13136 11.7801 2.09773 11.9203C2.05978 12.0783 2.05978 12.2462 2.05978 12.5821V13.7318Z" stroke="#333435" stroke-width="1.37318" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                  }
                </button>
              </td>
            }
          </tr>
        </ng-template>
      </p-table>
    </div>

    <div class="custom-pagination">
      <app-reusable-pagination
        [totalRecords]="totalRecords"
        [rowsOptions]="config.rowsPerPageOptions"
        [rows]="config.rowsPerPage!"
        (paginationChange)="onPaginationChange($event)"
      ></app-reusable-pagination>
    </div>
  } @else {
    <app-empty-state
      [description]="emptyStateInfo.description"
      [buttonLabel]="emptyStateInfo.label"
      (buttonAction)="onEmptyStateAction()"
    ></app-empty-state>
  }
</div>
