:host{
    .table-container{
        border-radius: 12px;
        border: 1px solid var(--Color-Neutral-400, #DEDEDF);
        padding: 16px;
        display: flex;
        flex-direction: column;
        gap: 12px;
        .custom-table{
            border-radius: 8px 8px 0 0;
            border: 1px solid var(--Color-Neutral-200, #F4F4F5);
            max-width: 100%;
            width: 100%;
            overflow-x: auto;
            .avatar-and-name-cell{
                display: flex;
                align-items: center;
                gap: 10px;
                img{
                    width: 32px;
                    height: 32px;
                    border-radius: 12px;
                    object-fit: cover;
                    width: 44px;
                    height: 44px;
                }
            }
            .country-chip-cell{
                padding: 2px 8px;
                display: flex;
                align-items: center;
                justify-content: center;
                width: fit-content;
                gap: 8px;
                border-radius: 12px;
                background: var(--Color-Neutral-200, #F4F4F5);
                img{
                    width: 19px;
                    height: 14px;
                    object-fit: cover;
                }
                .checked-lang{
                    background: var(--color-primary-500, #75b267);
                    border-radius: 50%;
                    font-size: 10px;
                    padding: .2rem;
                    color: white;
                    font-weight: 600;
                }
            }
            .chips-group{
                display: flex;
                align-items: center;
                gap: 6px;
                color: var(--Color-Neutral-2000, #333435);
                font-family: var(--Font-Family-Secondary, Dubai);
                font-size: var(--Font-Size-3Xs, 12px);
                font-weight: var(--Font-Weight-Medium, 500);
                .chip{
                    white-space: nowrap;
                    padding: 2px 8px;
                    border-radius: 12px;
                    background: var(--Color-Primary-100, #F3F9F1);
                }
            }
            .actions-cell{
                display: flex;
                align-items: center;
                gap: 10px;
            }
        }
        ::ng-deep{
            .p-datatable-tbody > tr > td{
                img{
                    width: 50px;
                }
            }
            .p-datatable-thead > tr > th{
                background: var(--Color-Secondary-100, #EDF3F8);
            }
        }

    }
    :ng-deep{
        .p-datatable .p-datatable-tbody > tr > td {
            ::ng-deep{
                .p-checkbox-checked .p-checkbox-box{
                    width: 14px;
                    height: 14px;
                    border-radius: 4px;
                    border: 1.5px solid var(--Color-Neutral-500, #939598);
                }
            }
        }
    }
}

// hide bottom border of table cells
:host ::ng-deep .p-datatable .p-datatable-tbody > tr > td {
  border-bottom: none !important;
}
:host ::ng-deep{
    .pi-trash{
        color: var(--Color-Error-500, #E74C3C);
    }
}