<div class="page-content">
  <app-page-header></app-page-header>
  <h1>{{ "projects.list.page_title" | translate }}</h1>
  <app-reusable-table 
    [data]="data()" 
    [config]="config" 
    [actions]="actions"
    [emptyStateInfo]="emptyStateInfo"
    [totalRecords]="totalRecords()"
    [filterItems]="filterItems"
    (onServerSideFilterChange)="onFilterChange($event)"
    (paginationChange)="onPaginationChange($event)" 
    (selectionChange)="selectionChange($event)">
  </app-reusable-table>

</div>