/* You can add global styles to this file, and also import other style files */
@import 'primeicons/primeicons.css';
@import 'primeflex/primeflex.css';
@import './styles/variables.scss';

:root{
    --p-emerald-100: var(--color-primary-100) !important;
    --p-emerald-200: var(--color-primary-200) !important;
    --p-emerald-300: var(--color-primary-300) !important;
    --p-emerald-400: var(--color-primary-400) !important;
    --p-emerald-500: var(--color-primary-500) !important;
    --p-emerald-600: var(--color-primary-600) !important;
    --p-emerald-700: var(--color-primary-700) !important;
    --p-emerald-800: var(--color-primary-800) !important;
    --p-emerald-900: var(--color-primary-900) !important;
    --p-emerald-950: var(--color-primary-1000) !important;
}
body{
    font-family: var(--Font-Family-Secondary, Dubai);
}
.custom-scrollbar{
    &::-webkit-scrollbar {
        height: 4px;
    }

    &::-webkit-scrollbar-button {
        display: none;
        width: 0;
        height: 0;
    }

    &::-webkit-scrollbar-track {
        background: #f2f2f2;
        border-radius: 10px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: #c9c9c9;
        border-radius: 1000px;
    }

    &::-webkit-scrollbar-thumb:hover {
        background-color: #555;
    }
}