/* You can add global styles to this file, and also import other style files */
@import "primeicons/primeicons.css";
@import "primeflex/primeflex.css";
@import "./styles/variables.scss";
@import "./styles/buttons.scss";
@import "quill/dist/quill.snow.css";
@import "quill/dist/quill.core.css";

:root {
  --p-emerald-100: var(--color-primary-100) !important;
  --p-emerald-200: var(--color-primary-200) !important;
  --p-emerald-300: var(--color-primary-300) !important;
  --p-emerald-400: var(--color-primary-400) !important;
  --p-emerald-500: var(--color-primary-500) !important;
  --p-emerald-600: var(--color-primary-600) !important;
  --p-emerald-700: var(--color-primary-700) !important;
  --p-emerald-800: var(--color-primary-800) !important;
  --p-emerald-900: var(--color-primary-900) !important;
  --p-emerald-950: var(--color-primary-1000) !important;
}

body {
  font-family: var(--Font-Family-Secondary, Dubai);
}

.custom-scrollbar {
  &::-webkit-scrollbar {
    height: 4px;
  }

  &::-webkit-scrollbar-button {
    display: none;
    width: 0;
    height: 0;
  }

  &::-webkit-scrollbar-track {
    background: #f2f2f2;
    border-radius: 10px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #c9c9c9;
    border-radius: 1000px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: #555;
  }
}

@import "primeicons/primeicons.css";
@import "primeflex/primeflex.css";

@font-face {
  font-family: "Dubai";
  src: url("./../public/fonts/Dubai-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Dubai-bold";
  src: url("./../public/fonts/Dubai-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Dubai-light";
  src: url("./../public/fonts/Dubai-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  font-family: "Dubai";
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #fefefe;
}

a {
  color: inherit;
  text-decoration: none;
}

/* Nature theme colors */
:root {
  --primary-color: #2d7d5e;
  --primary-light: #81c784;
  --primary-very-light: #e8f5e9;
  --text-dark: #2c3e50;
  --text-gray: #4b5563;
  --border-color: #e4e7ec;
  --background-light: #fefefe;
}

.backBtn {
  border-radius: 19.2px 0;
  background: linear-gradient(
    180deg,
    var(--Color-Primary2-400, #b0d357) 0%,
    var(--Color-Primary-400, #82c672) 100%
  );
  width: 32px;
  height: 32px;
  transform: rotate(45deg);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px;
  border: none;
  cursor: pointer;
  transition: 0.2s ease;

  svg {
    transform: rotate(-45deg);
  }

  &:hover {
    opacity: 0.8;
  }
}

.basic-btn {
  display: flex;
  height: 42px;
  padding: 4px 24px;
  justify-content: center;
  align-items: center;
  gap: 4px;
  border-radius: 12px;
  background: var(--Color-Neutral-200, #f4f4f5);
  transition: 0.2s ease;
  border: none;
  cursor: pointer;

  span {
    color: var(--Color-Primary-500, #75b267);
    font-size: var(--Font-Size-3Xs, 12px);
    font-style: normal;
    font-weight: var(--Font-Weight-Semi-Bold, 700);
    line-height: var(--Font-Line-Height-Xs, 19.2px);
    /* 160% */
  }

  &:hover {
    background: oklch(0.98 -1 0 / 1);
  }
}

.outline-btn {
  display: flex;
  padding: 12px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 12px;
  border: 1px solid var(--Other-Stroke, #d9d9d9);
  background: var(--Secondary-White, #fff);
  transition: 0.2s ease;
  cursor: pointer;
  min-width: 200px;
  span {
    color: var(--Secondary-500, #232323);
    text-align: center;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    /* 18px */
    letter-spacing: -0.36px;
  }

  &:hover {
    background-color: oklch(0.98 -1 0 / 1);
  }
}

.action-btn {
  border-radius: 12px;
  background: linear-gradient(
    270deg,
    var(--Color-Primary-400, #82c672) 39.41%,
    var(--Color-Primary2-400, #b0d357) 98.64%
  );
  display: flex;
  height: 42px;
  padding: 4px 24px;
  justify-content: center;
  align-items: center;
  gap: 4px;
  transition: 0.2s ease;
  cursor: pointer;
  border: none;

  span {
    color: var(--Color-Neutral-100, #fefefe);
    font-size: var(--Font-Size-3Xs, 12px);
    font-style: normal;
    font-weight: var(--Font-Weight-Semi-Bold, 700);
    line-height: var(--Font-Line-Height-Xs, 19.2px);
    /* 160% */
  }

  &:hover {
    background-color: #71b362;
  }

  &.disabled {
    color: #fff;
    background: #d1d5dc;
    cursor: not-allowed;
  }
}

.page-container {
  h1 {
    font-size: 2rem;
    color: #2c3e50;
  }

  p {
    color: #4b5563;
    font-size: 1rem;
  }
}

.our-field {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px;
  label {
    color: var(--Color-Neutral-800, #6e7072);
    font-size: var(--Font-Size-S, 18px);
    font-style: normal;
    font-weight: var(--Font-Weight-Regular, 500);
    line-height: var(--Font-Line-Height-S, 21.6px); /* 120% */
  }
  .p-inputtext,
  .p-textarea,
  .p-multiselect,
  .p-select,
  .p-datepicker {
    font-size: 12px;
    width: 100%;
    display: flex;
    height: 56px;
    padding: 10.087px 15.13px;
    align-items: center;
    gap: 10.087px;
    align-self: stretch;
    border-radius: 15.13px !important;
    border: 1.261px solid var(--Color-Neutral-300, #efeff0);
    background: var(--Color-Neutral-white, #fff);

    .p-multiselect-label,
    .p-select-label {
      padding: 0;
    }
    .p-placeholder {
      color: var(--Color-Neutral-500, #939598);
      /* Small Text/Light */
      font-family: var(--Font-Family-Secondary, Dubai);
      font-size: var(--Font-Size-Xs, 16px);
      font-style: normal;
      font-weight: var(--Font-Weight-Light, 300);
      line-height: var(--Font-Line-Height-Xs, 19.2px); /* 120% */
    }
    .p-multiselect-dropdown,
    .p-select-dropdown {
      justify-content: end;
    }
    &:focus {
      outline: none;
      border-color: #8bc34a;
    }
    &::placeholder {
      color: var(--Color-Neutral-500, #939598);
      font-size: var(--Font-Size-Xs, 16px);
      font-style: normal;
      font-weight: var(--Font-Weight-Light, 300);
    }
  }
  .p-multiselect,
  .p-select {
    gap: 0;
    font-size: var(--Font-Size-2-xs, 14px);
  }

  .textarea-container {
    width: 100%;
    position: relative;
    span.char-counter {
      position: absolute;
      left: 15.13px;
      bottom: 0.174px;
      color: var(--Color-Neutral-1000, #424344);
      font-size: var(--Font-Size-3Xs, 12px);
      font-weight: var(--Font-Weight-Light, 300);
    }
  }
  .ng-invalid.ng-touched .p-editor,
  .ng-invalid.ng-dirty .p-editor {
    border: 1.2px solid var(--Color-Error-500, #e74c3c);
    border-radius: 14px;
  }
  .p-datepicker {
    transition: all 0.3s;
    &:focus-within {
      border-color: var(--Color-Primary-500, #75b267);
    }
    .p-datepicker-dropdown {
      border: none;
      background-color: transparent;
    }
    .p-datepicker-dropdown:not(:disabled):hover {
      background-color: transparent;
    }
    input {
      border: none;
      padding: 0;
      height: 100%;
      box-shadow: none;
    }
  }
  .p-datepicker:has(.p-datepicker-dropdown) .p-datepicker-input {
    border-radius: 0 !important;
  }
  .p-editor .p-editor-toolbar.ql-snow {
    border-radius: 14px 14px 0 0;
    background:
      radial-gradient(
        183.55% 120.47% at 116.93% -44.32%,
        rgba(231, 241, 203, 0.5) 0%,
        rgba(231, 241, 203, 0) 100%
      ),
      radial-gradient(
        991.32% 174.48% at 95.31% 50%,
        rgba(176, 211, 87, 0.5) 0%,
        rgba(176, 211, 87, 0) 100%
      ),
      radial-gradient(
        228.08% 210.57% at 106.77% 135.23%,
        rgba(58, 109, 149, 0.25) 0%,
        rgba(55, 102, 140, 0) 100%
      );
    display: flex;
    justify-content: end;
    span {
      margin: 0;
      font-weight: 100;
    }
  }
  .ql-snow.ql-toolbar button {
    svg {
      path,
      line,
      polyline {
        stroke-width: 1px;
      }
    }
  }
  .p-editor {
    .text-editor-header {
      color: var(--Teal-Green-green-300, #609292);
      font-size: 14px;
      font-weight: 600;
      letter-spacing: 0.28px;
    }
  }
  .p-editor .p-editor-toolbar.ql-snow .ql-stroke {
    stroke-width: 1px;
    stroke: var(--Color-Primary-1000, #2e4528);
  }
  .p-editor .p-editor-content .ql-editor,
  .ql-toolbar.ql-snow + .ql-container.ql-snow {
    border-end-end-radius: 14px;
    border-end-start-radius: 14px;
  }
  // Disabled state
  .p-inputtext:disabled,
  .p-textarea:disabled,
  .p-multiselect.p-disabled,
  .p-select.p-disabled,
  .p-datepicker.p-disabled {
    border: 1.261px solid var(--Color-Neutral-300, #efeff0);
    background: var(--Color-Neutral-200, #f4f4f5);
    color: var(--Color-Neutral-600, #8e8f91);
    cursor: not-allowed;
    opacity: 1; // prevent PrimeNG opacity dimming
  }
  .p-disabled {
    opacity: 1 !important;
    border: 1.261px solid var(--Color-Neutral-300, #efeff0);
    background: var(--Color-Neutral-200, #f4f4f5);
    border-radius: 14px;
    * {
      background-color: transparent;
      border: none !important;
    }
  }

  // Disabled placeholder
  .p-inputtext:disabled::placeholder,
  .p-textarea:disabled::placeholder {
    color: var(--Color-Neutral-500, #a0a2a4);
  }

  // Invalid state
  .ng-invalid.ng-touched,
  .ng-invalid.ng-dirty {
    &.p-inputtext,
    &.p-textarea,
    &.p-multiselect,
    &.p-select,
    .p-password,
    .p-datepicker {
      border-color: var(--Color-Error-500, #e74c3c) !important;
      background: rgba(231, 76, 60, 0.03);
    }
  }
  .text-red-val {
    color: var(--Color-Error-500, #e74c3c);
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
  }
}

// main-layout styles
/* ! important
  I deleted it from main.component.scss and put it here to make it global 
  because the form layout bg is different from page layout bg
 */
.main-content {
  flex: 1;
  transition: all 0.3s ease;
}
.page-content {
  padding: 1rem;
  background: var(--Color-Neutral-100, #fefefe);
}
.form-content {
  padding: 1rem;
  background: #fafafa;
  height: 100%;
}
// hide the
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  appearance: textfield;
  -moz-appearance: textfield;
}
.add-another {
  display: flex;
  align-items: center;
  gap: 8px;
  border: none;
  cursor: pointer;
  background: none;
  span {
    color: var(--Color-Primary-500, #75b267);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%; /* 28.8px */
  }
}
.delete-btn {
  cursor: pointer;
  border-radius: 8.239px;
  border: 1.03px solid var(--Greyscale-100, #dfe1e7);
  background: var(--Greyscale-0, #fff);
  box-shadow: 0 1.03px 2.06px 0 rgba(13, 13, 18, 0.06);
  display: flex;
  width: 32px;
  height: 32px;
  justify-content: center;
  align-items: center;
  gap: 8.239px;
  transition: 0.2s ease;
  flex: 0 0 auto;

  &:hover {
    background: oklch(97.1% 0.013 17.38);
    border-color: oklch(88.5% 0.062 18.334);
  }
}
.p-inputtext:disabled {
  opacity: 0.6;
}

.add-form-group-btn {
  display: flex;
  align-items: center;
  gap: 8px;
  color: var(--Color-Primary-500, #75b267);
  font-size: var(--Font-Size-S, 18px);
  font-weight: var(--Font-Weight-Medium, 500);
  border: none;
  background-color: transparent;
  transition: all 0.3s;
  border-radius: 12px;
  cursor: pointer;
  padding: 0.5rem;
  width: fit-content;
  &:hover {
    background-color: rgba(240, 249, 238, 0.8);
  }
}
.checkbox-field {
  display: flex;
  align-items: center;
  gap: 10px;
  label {
    color: #000;
    font-family: var(--Font-Family-Secondary, Dubai);
    font-size: var(--Font-Size-Xs, 16px);
    font-weight: var(--Font-Weight-Light, 300);
  }
}

.p-checkbox {
  width: 14px !important;
  height: 14px !important;
}
.p-checkbox-box {
  width: 14px !important;
  height: 14px !important;
  border: 1px solid var(--Color-Neutral-500, #939598) !important;
  background-color: red;
  .p-iconwrapper {
    display: flex !important;
    svg {
      width: 10px;
      height: 10px;
    }
  }
}
.p-toggleswitch.p-toggleswitch-checked .p-toggleswitch-slider::before {
  display: flex !important;
}
.p-toggleswitch-slider {
  &::before {
    display: block !important;
  }
}
.pi-trash {
  color: #b3261e;
  font-size: 14px !important;
}
.form-toaster {
  display: flex;
  padding: 10px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  align-self: stretch;
  border-radius: 12px;
  background: var(--Color-Primary-200, #ecf6ea);

  span {
    color: var(--Color-Primary-1000, #2e4528);
    text-align: center;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%; /* 18px */
    letter-spacing: -0.36px;
  }
}
span.required {
  color: var(--Alert-Error-100, #df1c41);
  font-size: var(--Font-Size-S, 18px);
  font-style: normal;
  font-weight: var(--Font-Weight-Regular, 400);
  line-height: var(--Font-Line-Height-S, 21.6px);
}
